/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; /* Enable flexbox */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    overflow: auto;
}

/* Background Image */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/img2.jpg') no-repeat center center/cover;
    z-index: -1;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* Login Container Styling */
.login-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 40px;
    width: 400px;
    text-align: center;
    margin: 40px 0px;
}

/* Media query for screens 490px or less */
@media (max-width: 490px) {
    .login-container {
        width: 90%; /* Set width to 80% */
    }
}

.register-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    padding: 40px;
    width: 400px;
    text-align: center; 
    margin: 40px 0px;
}

/* Media query for screens 400px or less */
@media (max-width: 490px) {
    .register-container {
        width: 90%; /* Set width to 90% */
    }
}

/* Form Elements */
form h2 {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 600;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

/* Input and Select Styling */
input, select {
    width: 100%;
    padding: 10px;
    background: none;
    border: 2px solid #000000;
    /* border-bottom: 2px solid #000000; */
    border-radius: 10px;
    outline: none;
    color: #000000;
    font-size: 18px;
    margin-top: 10px; /* Add some margin for spacing */
}

/* Label Styling */
label {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #000000;
    pointer-events: none;
    transition: 0.3s;
    font-size: 20px;
}

/* Options Styling */
.options {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: 14px;
    margin-bottom: 10px;
}

.options a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Button Styling */
.login-btn {
    background-color: #007bff;
    color: #000000;
    border: none;
    padding: 10px;
    min-width: 50%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
    display: inline-block; 
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Animation for label on input focus and non-empty state */
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -9px; /* Move label up */
    font-size: 14px; /* Smaller font size for the label */
    color: #000000; /* Color remains the same */
}

/* registration hidden */
.hidden {
    display: none; /* Class to hide elements */
}